<section class="carousel u-flex u-box u-relative u-overflow">
	<figure 
		v-for="url in image_urls"
		class="u-flex--fill carousel-figure u-absolute--full" 
		v-show="$index == currentIndex"
		transition="fades"
		:style="$root.backgroundImage(url)"></figure>
	<nav 
		v-if="image_urls.length > 1"
		class="carousel-controls u-absolute--full u-box u-box--justify-space-between u-box--align-center">
		<button 
			@click.prevent="onPrev"
			class="controls-prev">
			<span class="fa fa-chevron-left"></span>
		</button>
		<ul class="controls-listitems u-flex--align-flex-end u-list u-box u-box--align-center">
			<li 
				v-for="value in image_urls"
				@click="onSelectedItem($index)"
				class="u-circle" 
				:class="{ 'active': ($index == currentIndex)}"></li>
		</ul>
		<button 
			@click.prevent="onNext"
			class="controls-next">
			<span class="fa fa-chevron-right"></span>
		</button>
	</nav>
</section>