<main class="u-flex u-box u-box--column u-relative">
	<carousel 
		:image_urls="image_urls"
		:background-image="backgroundImage"></carousel>
	<footer class="u-absolute--footer u-box u-box--justify-center">
		<div class="carousel-searchbar searchbar u-box u-flex u-padding-x">
			<input class="searchbar-input u-flex u-padding" type="text" placeholder="Find a place to work &hellip;" v-model="query" />
			<button class="searchbar-button colors--purple u-padding" @click.prevent="onSearch">Search</button>
		</div>
	</footer>
</main>

<footer class="u-box u-box--justify-center colors--cream">
	<div class="container--wrap u-flex u-padding">
		<div class="u-box u-box--column-query">
			<div class="u-box u-flex">
				<figure-tile 
					:item="rows[0]" 
					:view-carousel="viewCarousel"
					:background-image="backgroundImage"></figure-tile>
				<figure-tile 
					:item="rows[1]" 
					:view-carousel="viewCarousel"
					:background-image="backgroundImage"></figure-tile>
			</div>
			<div class="u-box u-flex">
				<figure-tile 
					:item="rows[2]" 
					:view-carousel="viewCarousel"
					:background-image="backgroundImage"></figure-tile>
				<figure-tile 
					:item="rows[3]" 
					:view-carousel="viewCarousel"
					:background-image="backgroundImage"></figure-tile>
			</div>
		</div>
	</div>
	
</footer>
